<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')-%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar')-%>
     

    <div class="dropdown pc-page">
        <button class="btn btn-secondary dropdown-toggle leagueButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <img src="/img/LeaguePage/footballGround.jpg" alt=""> -->
            <div class="leagueConatiner">
                <p><%= displayData.name %></p>
                <p><%= displayData.area.name %></p><br> 
            </div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item pc-card teams-card" href="/<%= displayData.code %>/teams"><div>Teams</div></a>
          <a class="dropdown-item pc-card standings-card" href="/<%= displayData.code %>/standings"><div>Standings</div></a>
          <a class="dropdown-item pc-card scorers-card" href="/<%= displayData.code %>/scorers"><div>Top Scorers</div></a>
        </div>
      </div>

    
    
    

    <!-- <ol>
        <% for(let i=0;i<seasonCount;i++){ %>
            <li><%= displayData.seasons[i].startDate %> - <%= displayData.seasons[i].endDate %></li>

       <% } %>

    </ol> -->

    <%- include('partials/footer') -%>
</body>
</html>