<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')-%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar')-%>
     
    <div>
        <p class="leagueName"><%= displayData.name %></p>

    </div>
    
    <p>Area: <%= displayData.area.name %></p><br>
    

    <ol>
        <% for(let i=0;i<seasonCount;i++){ %>
            <li><%= displayData.seasons[i].startDate %> - <%= displayData.seasons[i].endDate %></li>

       <% } %>

    </ol>


    <a role="button" href="<%= displayData.code %>/teams">All Teams</a>
    <a role="button" href="<%= displayData.code %>/standings">Standings</a>
    <a role="button" href="<%= displayData.code %>/scorers">Top Scorers</a>

</body>
</html>