<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
    <title><%= teamData.name %></title>
</head>
<body class="particular-team-body">
    <%- include('partials/navbar') -%>
    <div class="particular-team container">
        <div class="row">
        <div class="col-sm-6 team-image">
            <img class="card-img-top team-crest" src="<%= teamData.crestUrl %>" alt="<%= teamData.name %>">
        </div>
        <div class="col-sm-6 team-info">
            <h1><%= teamData.name %></h1>
            <div>
                <p>Address: <%= teamData.address %></p>
                <p>Phone: <%= teamData.phone %></p>
                <p>Website: <a href="<%= teamData.website %>"><%= teamData.website %></a></p>
                <p>Email: <%= teamData.email %></p>
                <p>Venue: <%= teamData.venue %></p>
                <div  class="button">
                    <a onclick="toggleSquad()" role="button" href="#squad">View Squad</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div style="display: none;" id="toggle">
    <div id="squad" class="container">
            <% teamData.squad.forEach(function(content){ %>   
          <div class="card team-card">
            <div class="pos row">
                <div class="col-sm-12"> 
                    <p><%= content.position %></p>
                </div> 
            </div>
            <div class="row team-row">
            <div class="card-body col-sm-12">
              <h5 class="card-title team-name"><%= content.name %></h5>
              <p><%= content.nationality %></p>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>