<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head')-%>

    <title>Top Scorers</title>
</head>

<body>
  <div class="scorers">
    <%- include('partials/navbar')-%>
      <div class="row">

        <div class="column">
          <div class="card">
            <h3>#</h3>
            <% for(let i=0; i<topScorers; i++){ %>
            <p> <%= i+1 %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>Player</h3>
            <% for(let i=0; i<topScorers; i++){ %>
            <p><%= displayData.scorers[i].player.name %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>Team</h3>
            <% for(let i=0; i<topScorers; i++){ %>
            <p> <%= displayData.scorers[i].team.name %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>Position</h3>
            <% for(let i=0; i<topScorers; i++){ %>
            <p><%= displayData.scorers[i].player.position %></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>Goals</h3>
            <% for(let i=0; i<topScorers; i++){ %>
            <p><%= displayData.scorers[i].numberOfGoals %></p>
          </div>
        </div>

      </div>


</body>

</html>
