<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')-%>
  
    <title>Top Scorers</title>
</head>
<body>
    <%- include('partials/navbar')-%>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
            <th scope="col">Goals</th>
          </tr>
        </thead>
 
        <tbody>
    <% for(let i=0; i<topScorers; i++){ %>
              
              <tr>
                <td><%= i+1  %></td>
                <td><%= displayData.scorers[i].player.name %></td>
                <td><%= displayData.scorers[i].team.name %></td>
                <td><%= displayData.scorers[i].player.position %></td>
                <td><%= displayData.scorers[i].numberOfGoals %></td>
              </tr>
                       
     <% } %>
    </tbody>
</table>

<%- include('partials/footer') -%>
</body>
</html>