<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') -%>
    <title>Standings</title>
</head>
<body>
  <%- include('partials/navbar') -%>
  <div class="table-responsive">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th></th>
        <th>TEAMS</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody class="standing-table">
      <% for(let i=0;i<totalTeams;i++){ %>
                 <tr>
                   <td><%= i+1  %></td>
                   <td> <img class="table-icons" src="<%= displayData.standings[0].table[i].team.crestUrl %>"> <%= displayData.standings[0].table[i].team.name %></td>
                   <td><%= displayData.standings[0].table[i].playedGames %></td>
                   <td><%= displayData.standings[0].table[i].won %></td>
                   <td><%= displayData.standings[0].table[i].draw %></td>
                   <td><%= displayData.standings[0].table[i].lost %></td>
                   <td><%= displayData.standings[0].table[i].goalsFor %></td>
                   <td><%= displayData.standings[0].table[i].goalsAgainst %></td>
                   <td><%= displayData.standings[0].table[i].goalDifference %></td>
                   <td><%= displayData.standings[0].table[i].points %></td>
                 </tr>

      <% } %>
    </tbody>
    </table>
    <div class="container-fluid table-classification">
      <h2 class="table-title">Qualification/Relegation</h2>
      <span id="cl-qualify" class="zone"></span><p class="table-zone">Champions League</p><br>
      <span id="uel-qualify" class="zone"></span><p class="table-zone">Europa League</p><br>
      <span id="relegation" class="zone"></span><p class="table-zone">Relegation</p><br>
    </div>
    </div>
</body>
</html>