<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') -%>
  <title>Teams</title>
</head>

<body class="team-body">
  <%- include('partials/navbar') -%> 

  
  <div class="team-container">
  
    
    <%    if(disData.competition.plan === "TIER_ONE"){ %>
      <% disData.teams.forEach(function(content){ %>
    <div class="card team-card">
      <div class="row team-row">
        <div class="col-sm-5">
          <img class="card-img-top crest" src="<%= content.crestUrl %>" alt="Card image cap">
        </div>
      <div class="card-body col-sm-7">
        <h5 class="card-title team-name"><%= content.name %></h5>
        <a href="<%= content.name %>/<%= content.tla %>"  class="btn btn-primary team-button">Explore</a>
      </div>
    </div>
  </div>
  <% }) %>
  <% } %>
</div>

</body>

</html>